.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1248px;
  mat-form-field {
    width: 100%;
  }
}

mat-card {
  width: 70%;
  height: 70%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.register-button,
.edit-icon {
  color: rgba(3, 90, 169, 255);
}

td,
th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}
