<div class="main-container">
  <mat-card>
    <mat-card-header>
      <!-- Student Menu Bar -->
      <mat-toolbar>
        <span>Manage Student Enrollments</span>
        <span class="example-spacer"></span>
        <button
          mat-stroked-button
          class="button-enrollment"
          (click)="openAddStudentEnrollmentForm()"
        >
          STUDENT ENROLLMENT
        </button>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
  </mat-card>
</div>
