.example-spacer {
  flex: 1 1 auto;
}

.toolbar-container {
  margin-bottom: 50px;
  background-color: rgb(3, 90, 169);
}

.button-menu {
  font-size: 18px;
}

.button-login {
  background-color: transparent;
  box-shadow: inset 0px 0px 5px #1f2f50;
}

.nebula-label {
  padding: 15px;
}
